* {
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    --green-color: #1EC089;
    --black-color: #595959;
}

.navbar__logo--right {
    font-weight: 900;
    font-style: italic;
    color: var(--black-color);
}

.navbar__logo--left {
    font-weight: 900;
    font-style: italic;
    color: var(--green-color);
}

.navbar__ul {
    font-weight: 500;
    color: var(--black-color);
}

.navbar__button {
    font-weight: 500;
    color: var(--green-color);
    border: 1px solid #1EC089;
    border-radius: 20em;
}

.navbar__button:hover {
    background-color: var(--green-color);
    color: white;
    transition: ease-out 0.2s;
}


.black-color {
    color: var(--black-color);
}

.green-color {
    color: var(--green-color);
}

.main-section__button {
    width: 8em;
    background-color: var(--green-color);
    color: white;
    border-radius: 40em;
}

.main-section__image {
    width: 24em;
}

@media (min-width: 200px) {
    .main-section__image {
        width: 40em;
    }
}

.card {
    border: solid 1px rgb(214, 214, 214);
}

.principal-card {
    scale: 1.1;
    background-color: white;
}

.pricing__card--green {
    background-color: #1EC089;
    color: white;
    border: solid 2px transparent;
}

.pricing__card--green:hover {
    background-color: white;
    color: #1EC089;
    border: solid 2px #1EC089;
    transition: ease-out 0.2s;
}

.pricing__card--white {
    background-color: white;
    color: #1EC089;
    border: solid 2px #1EC089;
}

.pricing__card--white:hover {
    background-color: #1EC089;
    color: white;
    transition: ease-out 0.2s;
}