* {
    font-family: 'Roboto', sans-serif;
}

:root {
    --green-color: #1EC089;
    --black-color: #595959;
}

.navbar__logo--right {
    font-size: 1.2rem;
    font-weight: 900;
    font-style: italic;
    color: var(--black-color);
}

.navbar__logo--left {
    font-size: 1.2rem;
    font-weight: 900;
    font-style: italic;
    color: var(--green-color);
}

.navbar__ul {
    font-weight: 500;
    color: var(--black-color);
}

.navbar__button {
    font-weight: 500;
    color: var(--green-color);
    border: 1px solid #1EC089;
    border-radius: 20em;
}

.black-color {
    color: var(--black-color);
}

.green-color {
    color: var(--green-color);
}

.main-section__button {
    width: 8em;
    background-color: var(--green-color);
    color: white;
    border-radius: 40em;
}

.main-section__image {
    width: 30em;
}